<div class="container w-25 h-25 m-auto text-center">
    <h1 class="my-4">Welcome to main page!</h1>

    <p class="lead">
        Thanks for vizit. It this page, you can store your products for supermarket,
        or append tasks what do you want.
    </p>

    <img class="img-fluid rounded mb-4" src="https://i0.wp.com/churchmediadrop.com/wp-content/uploads/edd/2017/08/Welcome-Slide-1_720p.jpg?fit=1280%2C720&ssl=1" />
</div>

<!--section title {
    <h1 class="my-4">Welcome to main page!</h1>
}-->
